@import "../../assets/scss/variables.scss";

.mat-column-preview, .mat-column-title {
  cursor: pointer;
}

.mat-column-preview {
  flex: 0 0 175px;
}

.video-image {
  padding: $small-padding 0;
}

.no-data {
  padding: $medium-padding;
  width: 100%;
  text-align: center;
  color: $button-red;
  font-weight: bold;
}
