<div class="header">
  <h1>
    Videos
  </h1>
</div>
<div class="searchbar">
  <mat-form-field class="search-input">
      <input matInput placeholder="Search" #input (keyup.enter)="onSubmit()">
  </mat-form-field>
</div>
<div class="filterbar">
  <mat-form-field class="input-field">
    <mat-select placeholder="Number of items" [(value)]="selectedNumberOfItems">
      <mat-option *ngFor="let number of itemsPerPage" [value]="number">
        {{number}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="input-field">
    <mat-select placeholder="Sort by" [(value)]="selectedSortBy">
      <mat-option *ngFor="let sortBy of sortByList" [value]="sortBy">
        {{sortBy}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="search">
  <button mat-raised-button type="submit" class="search-button" (click)="onSubmit()">
    Search
  </button>
</div>
<app-data-table [videos]="dataSource" (goToLink)="goToVideo($event)" (toggleFavourites)="toggleFavourites($event)">
</app-data-table>
